.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}
.logo{
    padding-right: 3rem;
    padding-left: 3rem;

}
.navbar ul {
    display: flex;
    margin: 0;
    padding-right: 3rem;
}

.navbar li a {
    display: block;
    text-decoration: none;
    color: #707070;
    padding: 1rem;
    font-size: 20px;
}
.hamburgerMenu {
    display: none;
    position: fixed;
    top: 3rem;
    left: 80%;
    color: black;
}
.burgerIcon {
    width: 50px;
    height: 50px;
    object-fit: cover; 
}
.hamburgerMenu nav {
    visibility: hidden;
}
.hamburgerMenu:hover nav{
    visibility: visible;
}
.hamburgerMenu nav a{
    display: block;
    text-decoration: none;
    color: #707070;
    padding: .5rem;
    font-size: 20px;

}
.container{
    padding-left: 3rem;
    padding-right: 3rem;
}
.cover{
    width: 100%;
    margin-top: 60px;
}
.flex{
    display: flex;
    gap: 100px;
}
.flex-img{
    width: 100%;
}
.flex section{
    border: 1px solid black;
    position: relative;
    margin-bottom: 56px;
}
.news h2{
    margin-top: 130px;
    margin-bottom: 70px;
    font-size: 40px;
    color: #707070;
}
.flex section h3{
    padding: 10px;
    color: #707070;
    font-size: 1.25rem;
}
.flex section p{
    font-size: 18px;
    padding: 10px;
    color: #707070;
    font-size: 1.25rem;
    margin-bottom: 70px;
}
.flex section a{
    position: absolute;
    right: 50px;
    bottom: 1rem;
    color: #707070;
}
.load-button{
    width: 5.5rem;
    color: #707070;
    display: block;
    text-align: center;
    margin: 20px auto;
    border-bottom: 1px solid #707070;

   
}
footer{
    background-color: #2E2E2E;
    padding:3rem 3rem;  
}
.contact-info h2,li,a{
    color: #F8F8F8;
}
.contact-info, .map, .icons{
    margin-left: 100px;
}
.flex-footer{
    display: flex;
}
.flex-footer .icon{
    margin-left: 35px;
}
.contact-info h2{
    font-size: 1.05rem;
    line-height: 27px;
}



@media screen and (max-width:1050px) {
    .hamburgerMenu {
        display: block;
    }
    .navbar ul{
        display: none;
        
    }
    .flex{
        display: flex;
        flex-wrap: wrap;
    }


}
@media screen  and (max-width:600px){
    .container{
        margin: 0 auto;
        padding: 0;
    }


}